header {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    margin: -0.5em;
    padding-right: 4em;
    padding-top: 0.5em;
}
header .menu {
    padding-top: 1em;
}
#logo {
    display: inline-flex;
    margin-left: 2em;
    width: 25vw;
    height: 50%;
    max-width: 333px;
}
.menu a {
    padding: 1em;
    color: black;
    font-size: 1em;
    text-decoration: none;
    padding-top: 5%;
    display: inline-block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.hero {
    position: relative;
}
#hero {
    margin-top: 0.5em;
    width: 100%;
    height: auto;
    height: 45vh;
    object-fit: cover;
    overflow: hidden;
}
.hero p {
    position: absolute;
    margin-left: 25%;
    margin-top: -6em;
    padding: 12px;
    font-size: 25px;
    font-weight: 900;
    background-color: white;
}
#cats {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.title {
    font-weight: 800;
    line-height: 1em;
}
p {
    font-size: larger;
}
.meals {
    display: flex;
    justify-content: space-between;
}
.meals img {
    object-fit: cover;
    overflow: hidden;
    width: 25vw;
    height: 75%;
}
.meals p {
    text-align: center;
    font-size: 18px;
    line-height: 3em;
    margin-top: -0.2em;
    background-color: white;
}
#weekly {
    background-color: lightgray;
    margin: -0.5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#weekly img {
    object-fit: fill;
    width: 20vw;
    height: auto;
}
#where {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#border img {
    border: 6px;
    border-style: solid;
    border-color: lightgray;
}
footer {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    margin: -0.5em;
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}