header {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    margin: -0.5em;
}
#logo {
    display: inline-flex;
    margin-left: 2em;
    width: 25vw;
    height: 50%;
    max-width: 333px;
}
.menu {
    margin-right: 4em;
}
.menu a {
    padding: 1em;
    color: black;
    font-size: 1em;
    margin-top: 2.5em;
    text-decoration: none;
    display: inline-block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.hero {
    position: relative;
}
#hero {
    margin-top: 0.5em;
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 45vh;
    overflow: hidden;
}
.hero p {
    position: absolute;
    margin-left: 25%;
    margin-top: -6em;
    padding: 12px;
    font-size: 25px;
    font-weight: 900;
    background-color: white;
}
.cats {
    margin-left: 3em;
    margin-right: 3em;
}